{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/exec", {
      "prepareCmd": "echo ${nextRelease.version} > VERSION",
      "publishCmd": "echo 'INTENTIONAL FAILURE FOR CI TEST' && exit 1"
    }],
    ["@semantic-release/git", {
      "assets": ["CHANGELOG.md", "VERSION"],
      "message": "chore(release): v${nextRelease.version} [skip ci]"
    }]
  ]
}
